# These are the requirements dedicated to tests.
# ---
# Get project requirements
-r ../requirements.txt

# Let coverage use the most recent version
coverage

# Report coverage results to codecov.io
codecov

# Report coverage results to coveralls.io
coveralls

# Static code analysis libraries
pylint
pycodestyle
pep257

# Use py.test as test-runner
pytest<3.3.0; python_version < '2.7'
pytest; python_version >= '2.7'
pytest-cov
