language: python
python:
  - "2.7"
  - "2.6"

install:
  - "pip install pycurl"
  - "sudo useradd shinken"
  - "pip install -r requirements.txt"
  - "pip install coveralls"

script: cd test && nosetests -vx --with-coverage --cover-package=module

after_success:
  coveralls

notifications:
  email: false
